

html, body {
  margin: 0;
  height: 100%;
  background-image: url(./RetrocadeWallpaper.gif);
  
  background-size: contain;
  background-position: 100%;
 
}

* {
  
  box-sizing: border-box;
  font-family: 'PressStart2P-Regular',sans-serif;
}
@font-face {
    font-family: 'PressStart2P-Regular';
    src: url('./Press_Start_2P/PressStart2P-Regular.ttf')format('truetype');
  }

  /*-------------Navigation Bar------------------------*/
.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(179.2deg, rgb(34, 34, 34) 0%, rgb(8, 0, 153) 29.7%, rgb(118, 6, 166) 63.4%, rgba(233, 0, 64, 0.58) 100.1%);
  color: white;
  height: 50px;
  padding: 1em; 
  z-index: 999;
  position: fixed;
  width: 100%;
  border: 2px solid linear-gradient(109.6deg, rgb(9, 9, 121) 11.2%, rgb(144, 6, 161) 53.7%, rgb(0, 212, 255) 100.2%);
  


  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 10.5em);
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
    
}
@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

/*---------------------Header Logo-----------------------------*/
#logo {
    font-size: 15pt;

}

#logo a {
    color: white;
    text-decoration: none;
   
}
#logo a:hover {
    color: rgb(211, 62, 211);
    text-decoration: 2px underline;
    padding: 10px 10px;
    transition: 0.6s;
    text-shadow: 3px 7px 3px black;
}

/*-------------------------Navigation Menu lists-------------------------------*/
.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before { position: fixed;
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

/*-----------------CSS Media Queries here------------------------------------*/

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
   position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
    
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}
/*-----------------Menu lists Hover effects ---------------------------------------*/

.menu li a {
   text-decoration: none;
   color: white;
   border-radius: 10px;

   
}
.menu li a:hover, .menu li a.active {
    transition: 0.6s;
    color: rgb(238, 118, 208);
    text-decoration: 3px underline;
    padding: 5px 15px 15px 20px;
    border-radius: 10px;
    text-decoration: underline;
    font-weight: bold;
    text-shadow: 5px 7px 5px black;

}

.menu li a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom-left;
}
.menu li a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color:rgb(238, 118, 208);
  box-shadow: 3px 10px 10px 3px rgb(238, 118, 208);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;

}
/*-------------------------------------------------------------*/

/*-----------------------------------BODY-----------------------------------------------------*/
#Home {
   
    width: 80%;
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    opacity: 0.8;
    text-align: center;
    line-height: 2;
    border-radius: 25px;

}

#About {
   
    width: 80%;
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    opacity: 0.8;
    text-align: center;
    line-height: 2;
    border-radius: 25px;
}
#Services {
    width: 80%;
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    opacity: 0.8;
    text-align: center;
    line-height: 2; 
    border-radius: 25px;
}
#Testimonies {
    width: 80%;
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    opacity: 0.8;
    text-align: center;
    line-height: 2; 
    border-radius: 25px;
}
#Contact {
    width: 80%;
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    opacity: 0.8;
    text-align: center;
    line-height: 2; 
    border-radius: 25px;
}
h1 {
    padding-top: 10%;
}