* {
  transition: background-color 0.2s ease-in-out;
  box-sizing: border-box;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  background-color: #053615;
  overflow-y: auto;
  transition: width 0.3s ease-in-out;
  z-index: 100;
}
.sidebar .nav-link {
  color: #f8f9fa;
}
.sidebar .nav-link:hover {
  background-color: yellow;
  color: black;
  font-weight: bolder;
}
.nav-item > a:hover{
  color: yellow;
}
.content {
  padding: 20px;
  margin-left: 250px;
  text-align: center;
}
#logoutLink:hover {
  color: black;
  background-color: yellow;
  border-radius: 10px;
  font-weight: bolder;
}
h1 {
  font-weight: bolder;
}
#ITS-Logo {
  width: 60%;
  height: auto;
  margin-left: 30px;
}

/*Table customization*/
.table-actions {
  display: flex;
  justify-content: center;
}
.table-actions .btn {
  margin-right: 5px;
}
@media (max-width: 768px) {
  .sidebar {
    width: 0;
  }
  .sidebar.show {
    width: 200px;
  }
  .content {
    margin-left: 0;
  }
}

/* Admin Profile */

#adminPic {
  width: 20%;
  height: auto;
  margin-top: 3%;
  border: 2px solid black;
  padding: 20px 20px;
  margin-bottom: 3%;
}
.Admin_ID {
  display: flex;
  width: 45%;
  padding: 20px 30px;
  margin-bottom: 25px;
}
.Admin_FirstName {
  display: flex;
  width: 45%;
  padding: 20px 30px;
  margin-bottom: 25px;
}
.Admin_LastName {
  display: flex;
  width: 45%;
  padding: 20px 30px;
  margin-bottom: 25px;
}
.Admin_Email {
  display: flex;
  width: 45%;
  padding: 20px 30px;
  margin-bottom: 25px;
}
.Admin_Password {
  display: flex;
 
  padding: 20px 30px;
 
}
